<script type="text/javascript" th:src="@{/static/ext4-min/ext-all.js}"></script>
<script type="text/javascript" th:src="@{/static/ext4-min/ext-override.js}"></script>
<script type="text/javascript"
        th:src="${#httpServletRequest.getContextPath() + '/static/ext4-min/locale/ext-lang-' + locale + '.js'}"></script>
<script type="text/javascript" th:src="@{/static/jquery/jquery-1.min.js}"></script>
<script type="text/javascript" th:src="@{/static/moment/moment.min.js}"></script>
<script type="text/javascript" th:src="@{/static/js/common/common.js}"></script>
<script type="text/javascript" th:src="@{/static/js/common/layout/layout-common.js}"></script>
<script type="text/javascript" th:src="@{/static/js/platform/soupe/foundation/prototype-extend.js}"></script>
<script type="text/javascript" th:src="@{/static/js/platform/soupe/foundation/model/model-base.js}"></script>
<script type="text/javascript" th:src="@{/static/js/platform/soupe/foundation/model/model-simple.js}"></script>
<script type="text/javascript" th:src="@{/static/js/platform/soupe/foundation/model/model-organizable.js}"></script>
<script type="text/javascript" th:inline="javascript">
  var contextPath = [[${#httpServletRequest.getContextPath()}]];

  var developmentMode = [[${#httpServletRequest.getAttribute('soupe.development.mode.enabled')}]];

  Ext.BLANK_IMAGE_URL = contextPath + '/static/ext4-min/resources/themes/images/default/tree/s.gif';

  var serverDate = new Date();
  serverDate.setTime([[${#calendars.createNow().getTimeInMillis()}]]);

  var domainId = [[${#bools.isTrue(#httpServletRequest.getAttribute('CURRENT_USER')!=null)?#httpServletRequest.getAttribute('CURRENT_USER').getDomainId():null}]];
  var userId = [[${#bools.isTrue(#httpServletRequest.getAttribute('CURRENT_USER')!=null)?#httpServletRequest.getAttribute('CURRENT_USER').getId():null}]];
  var username = [[${#bools.isTrue(#httpServletRequest.getAttribute('CURRENT_USER')!=null)?#httpServletRequest.getAttribute('CURRENT_USER').getUsername():null}]];
  var pageMetaData = {username: username};
</script>