<link type="text/css" rel="stylesheet"
      th:href="${#httpServletRequest.getContextPath() + '/static/themes/' + theme + '/css/layout.css'}"/>
<link type="text/css" rel="stylesheet"
      th:href="${#httpServletRequest.getContextPath() + '/static/themes/' + theme + '/css/common.css'}"/>
<link type="text/css" rel="stylesheet"
      th:href="${#httpServletRequest.getContextPath() + '/static/themes/' + theme + '/css/link.css'}"/>
<link type="text/css" rel="stylesheet"
      th:href="${#httpServletRequest.getContextPath() + '/static/themes/' + theme + '/css/header.css'}"/>
<link type="text/css" rel="stylesheet"
      th:href="${#httpServletRequest.getContextPath() + '/static/themes/' + theme + '/css/navigator.css'}"/>
<link type="text/css" rel="stylesheet"
      th:href="${#httpServletRequest.getContextPath() + '/static/themes/' + theme + '/css/main.css'}"/>
<link type="text/css" rel="stylesheet"
      th:href="${#httpServletRequest.getContextPath() + '/static/themes/' + theme + '/css/footer.css'}"/>
<link type="text/css" rel="stylesheet"
      th:href="${#httpServletRequest.getContextPath() + '/static/themes/' + theme + '/css/login.css'}"/>
<link rel="stylesheet" type="text/css"
      th:href="${#httpServletRequest.getContextPath() + '/static/ext4-min/resources/ext-theme-' + theme + '/ext-theme-' + theme + '-all.css'}"/>