<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
</head>
<body>
<div id="soupe-left-navigator" class="soupe-left-navigator" th:fragment="left-navigator">
  <div class="soupe-app-header">
    <div class="soupe-app-title" th:text="${currentRootPageTitle}"></div>
    <div class="soupe-app-setting soupe-app-setting-icon"></div>
  </div>
  <div class="soupe-app-center">
    <div class="soupe-secondary-link">
      <div th:utext="${pagesHtml}"></div>
    </div>
  </div>
  <div class="soupe-app-bottom"></div>
</div>
<div th:fragment="none"></div>
</body>
</html>