<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
</head>
<body>
<div id="soupe-header" th:fragment="header">
    <div id="soupe-header-content" class="soupe-header-content">
        <div class="soupe-title">
            <a th:href="@{/}"><span style="font-size: 30pt;" th:inline="text">[[${applicationTitle}]]</span></a>
            <span></span>
        </div>
        <div class="user-info" th:if="${#httpServletRequest.getAttribute('CURRENT_USER') != null}">
            <span>欢迎您，</span>
            <a th:href="@{/user/profile}">
                <strong th:text="${#httpServletRequest.getAttribute('CURRENT_USER').getName()}"></strong>
            </a>
            <span>|</span>
            <th:block
                    th:if="${#httpSession != null and #httpSession.getAttribute('isSso') != null and #httpSession.getAttribute('isSso') == true}">
                <a href="#" onclick="window.close();"><b>退出</b></a>
            </th:block>
            <th:block
                    th:if="${#httpSession == null or #httpSession.getAttribute('isSso') == null or (#httpSession.getAttribute('isSso') != null and #httpSession.getAttribute('isSso') == false)}">
                <a class="logout" th:href="@{/security/logout}"><b>退出</b></a>
            </th:block>
        </div>
    </div>
    <div class="primary-link">
        <ul class="top-nav" th:utext="${userPagesHtml}">
        </ul>
    </div>
</div>
<div th:fragment="none">
</div>
</body>
</html>