body {
  margin: 0px;
  min-width: 960px;
  font-size: 14px;
  overflow-x: auto;
  overflow-y: hidden;
}

.header-wrapper {
  background-color: #24292e;
  height: 54px;
}

.top-bar {
  background-color: #24292e;
  width: 960px;
  margin: 0px auto;
}

.top-bar ul {
  background-color: #24292e;
}

.logo {
  padding: 0px !important;
}

.app-title a {
  color: #24A061 !important;
  font-size: 16pt;
}

.top-bar-left a {
  color: #999999;
  font-weight: 500;
}

.top-bar-right a {
  color: #f3f3f3;
}

.top-bar .menu .active > a {
  color: #ffffff;
  background-color: transparent;
}

.secondary-header {
  background-color: #f3f3f3;
  width: 100%;
}

.tabs {
  padding: 5px 0px 0px 0px;
  background-color: #f3f3f3;
  border: none;
  width: 960px;
  margin: 0px auto;
}

.tabs-title a {
  padding: 10px 20px;
  font-size: 14px;
  color: #666666;
  font-weight: 500;
  border-top: 4px solid transparent;
}

.tabs-title a:hover {
  color: #0f0f0f;
  background-color: transparent;
}

.tabs-title.is-active a {
  background-color: #ffffff !important;
  color: #0f0f0f;
  border-top: 4px solid #3fa156;
}

.main-content-wrapper {
  overflow-x: hidden;
  overflow-y: auto;
}

.main-content {
  width: 960px;
  min-height: 450px;
  margin: 0px auto;
}

.third-header {
  padding: 10px 0px 10px 0px;
  border-bottom: 2px solid #f3f3f3;
  margin-bottom: 10px;
}

.third-header a {
  font-size: 14pt;
  padding: .7rem 0rem !important;
  color: #000000;
  cursor: text;
}

.footer {
  width: 960px;
  min-height: 30px;
  margin: 0px auto;
}

.soupe-footer {
  line-height: 30px;
  text-align: center;
  border-top: 2px solid #f3f3f3;
}

.soupe-footer .right {
  float: right;
  display: inline-block;
  color: #898e93;
  font-size: 12px;
  font-weight: 500;
}

.button {
  margin: 0px;
  padding: .8em 1.2em;
}

.callout {
  border: 1px solid #f3f3f3;
  margin: 0px 0px 10px;
}

.text-muted {
  color: #636c72 !important;
}

.text-readonly {
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: 2.4375rem;
  margin: 0 0 1rem;
  padding: .3rem .5rem;
  border: 1px solid #f1f1f1;
  border-radius: 3px;
  background-color: #fefefe;
  font-family: inherit;
  font-size: 1rem;
  color: #0a0a0a;
  transition: box-shadow .5s, border-color .25s ease-in-out;
  -webkit-appearance: none;
}

[type=color], [type=date], [type=datetime-local], [type=datetime], [type=email], [type=month], [type=number], [type=password], [type=search], [type=tel], [type=text], [type=time], [type=url], [type=week], textarea {
  border: 1px solid #f1f1f1;
  box-shadow: none;
}

[type=checkbox], [type=file], [type=radio] {
  margin: 0px;
}

table thead td {
  padding: .3rem;
}

table tbody td {
  padding: .5rem .3rem;
}

.pt-10 {
  padding-top: 10px;
}

.pb-10 {
  padding-bottom: 10px;
}

.form-signin {
  max-width: 330px;
  padding: 60px 0px 0px 0px;
  margin: 0 auto;
}
