@charset "utf-8";
/* CSS Document */

body {
  font-family: Helvetica, Arial, simhei, sans-serif, "宋体";
  font-size: 12px;
  min-width: 1020px;
  margin: 0 auto;
  padding: 0;
  background: #fff;
}

a {
  color: #0076c9;
  text-decoration: none;
}

a:visited {
  color: #0076c9;
}

a:hover {
  color: #333;
}

li {
  list-style-type: none;
}

.soupe-panel-more {

}

.soupe-panel-more a {
  /*color: #FFF;*/
  display: block;
  width: 30px;
}