@charset "utf-8";

.soupe-footer {
  height: 21px;
  line-height: 21px;
  padding: 0px 10px;
  text-align: center;
  background-color: #f3f3f3;
  border-top: 1px solid #999;
}

.soupe-footer .right {
  float: right;
  display: inline-block;
  height: 21px;
  color: #898e93;
  font-style: italic;
  font-size: 12px;
}
