@charset "utf-8";

.soupe-header {

}

.soupe-header-content {
  position: relative;
  height: 80px;
  /*background-color: #F1F1F1;*/
}

.soupe-title {
  width: 600px;
  bottom: 10px;
  left: 20px;
  position: absolute;
}

.soupe-title a:hover {
  color: #005bac;
}

.title-and-logo {
  left: 20px;
  top: 18px;
}

.title-and-logo .title {
  position: absolute;
  height: 42px;
  left: 20px;
  top: 18px;
  font-size: 36px;
  color: #0777BF;
}

.user-info {
  position: absolute;
  right: 12px;
  top: 20px;
  text-align: right;
  line-height: 180%;
}

.user-info strong {
  color: #ff6600;
}
 

