@charset "utf-8";

.primary-link {
    padding: 0 20px;
    height: 40px;
    background-color: #333;
}

.top-nav * {
    margin: 0px;
    padding: 0px;
}

.top-nav {
    width: 960px;
    margin: 0 auto;
    list-style: none;
    background-image: linear-gradient(#444, #111);
    /*border-radius: 6px;*/
    box-shadow: 0 1px 10px #777;
}

.top-nav > li {
    float: left;
    /*border-right: 1px solid saddlebrown;*/
    position: relative;
    line-height: 40px;
}

.top-nav li {
    position: relative;
}

.top-nav > li a {
    font: "微软雅黑" 12px;
    text-decoration: none;
    color: white;
    padding: 12px 30px;
}

.top-nav > li a:hover {
    color: #fafafa;
    background-color: #000000;
}

.top-nav li ul {
    position: absolute;
    /*border-radius: 6px;*/
    z-index: 1000000;
    top: 40px;
    left: 0px;
    list-style: none;
    background-image: linear-gradient(#444, #111);
    box-shadow: 0 -1 0 rgba(255, 255, 255, 0.3);
    visibility: hidden; /*这里只能用hidden 不能display*/
    opacity: 0;
    margin: 20px 0 0 0;
    /*transition: all .2s ease-in-out;*/
}

.top-nav ul ul {
    margin-left: 20px;
    margin-top: 20px;
}

.top-nav ul li:hover > ul {
    margin-left: 0px;
}

.top-nav li:hover > ul {
    opacity: 1;
    visibility: visible;
    margin: 0;
}

.top-nav ul a {
    padding: 0px;
    width: 85px;
    height: 40px;
    display: block;
}

.top-nav ul a:hover {
    background-color: #000000;
}
/*
.top-nav ul li:first-child > a {
    border-radius: 6px 6px 0 0;
}

第一个跟最后一个a标签设置圆角
.top-nav ul li:last-child > a {
    border-radius: 0 0 6px 6px;
}

.top-nav ul li {
    box-shadow: 0 1px 0 #111, 0 2px 0 #666;
}*/

/*两个阴影叠加产生间隔*/
.top-nav ul li:first-child > a:before {
    content: ""; /*这句不可少，少了没效果*/
    display: block;
    width: 0;
    /*border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #444;*/
    position: absolute;
    top: -6px;
    left: 40px;
}

.top-nav ul li:first-child > a:hover:before {
    border-bottom: 6px solid #04acec;
}

.top-nav ul ul {
    top: 0px;
    left: 110px;
}

.top-nav ul ul li:first-child > a:before {
    /*border-top: 6px solid transparent;
    border-right: 6px solid #444;
    border-bottom: 6px solid transparent;*/
    /*position: absolute;
    top: 20px;
    left: -12px;*/
}

.top-nav ul ul li:first-child > a:hover:before {
    /* border-bottom: 6px solid transparent;
     border-right: 6px solid #04acec;*/
}
