@charset "utf-8";

.soupe-login-center {
  width: 100%;
  text-align: center;
}

.soupe-login-form {
  width: 260px;
  padding-top: 80px;
  margin: 0px auto;
  display: inline-block;
}

.soupe-login-form .item {
  height: 50px;
  position: relative;
}

.soupe-login-form .item label {
  display: inline-block;
  float: left;
  width: 60px;
  text-align: left;
  font-size: 14px;
  line-height: 32px;
}

.soupe-login-form .item #login_error_content {
  display: inline-block;
  float: left;
  width: 100%;
  text-align: left;
  font-size: 14px;
  line-height: 32px;
  background-color: #f08a24;
  border-color: #de770f;
  color: #fff;
  border-radius: 3px;
  padding-left: 10px;
}

.soupe-login-form .item .close {
  right: 0.25rem;
  background: inherit;
  color: #333;
  font-size: 1.375rem;
  line-height: .9;
  opacity: 0.3;
  padding: 0 2px;
  position: absolute;
  top: 6px;
}

.soupe-login-form .item input {
  width: 200px;
  padding: 5px;
  height: 32px;
  font-size: 14px;
  vertical-align: middle;
  border: 1px solid #c9c9c9;
  float: right;
}

.soupe-login-form .item .remember {
  cursor: pointer;
  font-size: 12px;
  display: inline;
  width: auto;
  text-align: left;
  float: left;
  margin-right: 2px;
  color: #666;
  border: none;
  padding-top: 3px;
}

.soupe-login-form .item .login {
  float: right;
  width: 120px;
  padding: 5px;
  height: 32px;
  font-size: 14px;
  vertical-align: middle;
  background: #3fa156;
  border: 1px solid #528641;
}
