@charset "utf-8";

.soupe-left-navigator {
    text-align: left;
}

.soupe-right-navigator {
    text-align: left;
}

.soupe-app-header {
    height: 30px;
    font-size: 14px;
    font-weight: bold;
    color: #68a8dc;
    border-bottom: 1px solid #e8e8e8;
}

.soupe-app-title {
    float: left;
    margin: 8px 0px 5px 5px;
}

.soupe-app-setting {
    width: 22px;
    height: 22px;
    float: right;
    margin: 5px 5px 5px 0px;
}

.soupe-app-center {
    background-repeat: repeat-y;
}

.soupe-secondary-link {
    min-height: 300px;
}

.soupe-secondary-link ul, li {
    padding: 0px;
    margin: 0px;
}

.soupe-secondary-link b {
    display: block;
    font-weight: normal;
    padding: 6px 0px;
}

.soupe-secondary-link b:hover {
    background: url(../images/mask_blue1.png);
}

.soupe-secondary-link a {
    display: block;
    height: 16px;
    line-height: 16px;
    padding-left: 20px;
    /*color: #545e69;*/
    width: auto;
}

.soupe-secondary-link a:hover {
    text-decoration: none;
}

.soupe-secondary-link li {
    margin: 0px 0px 0px 0px;
    background: 0px 6px no-repeat;
}

.soupe-secondary-link ul b {
    padding-left: 20px;
}

.soupe-secondary-link ul ul b {
    padding-left: 41px;
}

.soupe-secondary-link ul ul ul b {
    padding-left: 62px;
}

.soupe-secondary-link ul li {
    background-position: 20px 6px;
}

.soupe-secondary-link ul ul li {
    background-position: 41px 6px;
}

.soupe-secondary-link ul ul ul li {
    background-position: 63px 6px;
}

.soupe-secondary-link .closed ul {
    display: none !important;
}

.soupe-secondary-link .opened ul {
    display: block;
}

.soupe-secondary-link .closed {
    background-image: url(../images/icon_tree_1.png);
}

.soupe-secondary-link .opened {
    background-image: url(../images/icon_tree_2.png);
}

.soupe-secondary-link .leaf {
    background-image: url(../images/icon_tree_3.png);
}

.soupe-secondary-link .current b {
    background: url(../images/mask_orange1.png);
}

.soupe-app-bottom {
    height: 3px;
    font-size: 0px;
}